/* Container styling */
.hero-banner {
    display: flex;
    width: 100%;
    align-items: center; /* Centers content vertically */
    justify-content: space-between; /* Adds space between columns */
  }
  
  /* Column styling */
  .hero-banner-text, .hero-banner-image {
    width: 50%; /* Ensures they each take up half of the container */
    padding: 20%;
  }
  
  .hero-banner-text {
    /* Additional styling for the text */
    padding: 20px;
  }
  
  .hero-banner-image img {
    width: 100%; /* Ensures the image fills its container */
    height: auto; /* Maintains the aspect ratio */
    box-shadow: 2px 2px 6px 2px #AAA;
    border-radius: 3%;
  }
  